@import "tailwindcss";

@theme {
  --font-poppins: "sans-serif";
  --color-primary: #dd4e0a;
  --color-alt: #0a99dd;
  --color-alt-2: #6fdd0a;
  --color-theme: #0866ff;
  --color-theme-bg: #f9f6ef;
  --color-theme-gray: #464646;
  --color-gray: #f0f0f0;
  --color-light: #f9fafb;
}
